body{
    margin: 0;
    top: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    top: 25%;
    left: 35%;
    right: 35%;
    position: absolute;
    display: inline-block;
    width: 500px;
    height: 400px;
    box-shadow: rgba(113, 113, 163, 0.2) 0px 7px 29px 0px;
}

.numbers {
    position: absolute;
    left: 55%;
    padding-top: 5px;
}

.dv-result {
    border-radius: 25px 25px 25px 25px;
    position: inherit;
    display: inline-block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #2e2be9;
    background-image: linear-gradient(180deg, #2e2be9  0%, #5250cc 100%);
}

.dv-result h2 {
    margin-bottom: 15px;
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: #303b5a;
    background-image: linear-gradient(180deg, #303b5a 0%, #2e2be9 100%);

}

.sum-items p {
    padding-top: -10px;
}

.res-n {
    font-size: 3.5rem;
    padding-top: 30px;
    color: white;
    margin: 10px;
    margin-bottom: 0;
}

.res-txt {
    margin: 0px 15px 0px 15px;
    padding: 0px 0px 0px 0px;
}

.of {
    margin-top: 0;
    padding-top: 0;
}

.dv-result h2, h3, p {
    text-align: center;
}

.txt-result {
    color: hsl(241, 100%, 89%);
}

.txt-summary {
    color: black;
    display: inline-block;
    margin-left: 10%;
}

.sum-items{
    margin: 0px 25px 25px 25px;
    border-radius: 10px;
    font-size: .9rem;
    height: 10%;
    width: 80%;
}

.dv-summary button:hover {
    background-color: #2e2be9;
    background-image: linear-gradient(180deg, #2e2be9  0%, #5250cc 100%);
    cursor: pointer;
}

.rea{
    background-color: hsla(0, 100%, 67%, 0.1);
}

.mem {
    background-color: hsl(39, 100%, 56%, 0.1);
}

.ver {
    background-color: hsl(166, 100%, 37%, 0.1);
}

.vis {
    background-color: hsl(234, 85%, 45%, 0.1);
}

.rea img, .mem img, .ver img, .vis img {
    margin: 10px -15px 0px 10px;
}

.dv-summary {
    border-radius: 0px 20px 20px 0px;
    position: inherit;
    display: inline-block;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: white;
}

.dv-summary p {
    margin-top: 10px;
}

.container .dv-summary h3, p {
    text-align: center;
}

.dv-summary button {
    position: inherit;
    margin: 0% 0% 0% 10%;
    width: 80%;
    height: 10%;
    background-color:hsl(224, 30%, 27%);
    border-radius: 15px;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .container{
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        width: 100%;
        height: 100%;
    }
    .dv-summary {
        top: 45%;
        left: 0;
        width: 100%;
        height: 55%;
    }

    .dv-result{
        border-radius: 0px 0px 30px 30px;
        top: 0;
        left: 0;
        width: 100%;
        height: 45%;
    }

    .res-txt {
        font-size: 1.1rem;
        margin-top: 15px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .sum-items{
        margin: 20px 35px 35px 55px;
        border-radius: 10px;
        font-size: .9rem;
        height: 10%;
        width: 80%;
    }

    .dv-summary button {
        margin: 0px 35px 35px 55px;
        border-radius: 25px;
        font-size: 1.3rem;
    }

}
